html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/public/normalize.css")
    link(rel="stylesheet" href="/public/reset.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css")
    link(href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet")
    title Pawa Intranet
  body
    #root
    script(src="/public/app.js")
    
